* {
  margin: 0;
}

.app__formadd {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.formadd__inputfield {
  display: flex;
  width: 100%;
  max-width: 500px;
}
.formadd__inputfield > TextField {
  width: 100% !important;
  max-width: 500px !important;
}

.formadd__schedule {
  display: flex;
  /* height: 40px !important; */
}

.formadd__schedule > DateTimePicker {
  width: 300px !important;
}

.formadd__addbutton {
  display: block;
}

.formadd__addbutton > Button {
  height: 40px !important;
  border-radius: 10px !important;
  background-color: #de4c4a !important;
  color: #ffffffde !important;
  padding: 10px !important;
  font-weight: bold !important;
}
