.header{
    display: flex;
    justify-content: space-between;
    background-color: teal;
}

.header__logo{
    align-items: center;
    width: 145px;
    height: 52px;
}

.header__left{
    display: flex;
    align-items: center;
}

.header__center{
    display: flex;
    align-items: center;
    padding: 5px;
}

.header__right{
    display: flex;
    align-items: center;
}

.header__icons{
    object-fit: contain;
    font-size: 28px;
}

.header__search{
    width: 300px;
    height: 35px;
    border-radius: 80px;
    
}

